[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "genetic.algo.optimizeR"]
	path = genetic.algo.optimizeR
	url = https://github.com/danymukesha/genetic.algo.optimizer
